<div class="product-animation">
  <div class="product-animation-layer top">
    <div class="product-animation-svg top w-embed">
      <svg width="100%" height="100%" viewBox="0 0 708 354" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M354 2L4 153.794L354 352L704 153.794L354 2Z" stroke="var(--icon-color)" stroke-width="1"></path>
      </svg>
    </div>
  </div>
  <div class="product-animation-layer middle">
    <div class="product-animation-svg middle w-embed">
      <svg width="100%" height="100%" viewBox="0 0 708 354" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M354 2L4 153.794L354 352L704 153.794L354 2Z" stroke="var(--icon-color)" stroke-width="1"></path>
      </svg>
    </div>
  </div>
  <div class="product-animation-layer bottom">
    <div class="product-animation-svg bottom w-embed">
      <svg width="100%" height="100%" viewBox="0 0 708 354" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M354 2L4 153.794L354 352L704 153.794L354 2Z" stroke="var(--icon-color)" stroke-width="1"></path>
      </svg>
    </div>
  </div>
</div>