{{ if .Site.Params.skills.enable | default false }}
<section id="skills" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row">

        <div class="col mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <img style="width: 40px; height: 40px" src="icons/java.svg">
            </div>
            <h4>Java</h4>
          </div>
        </div>

        <div class="col mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <img style="width: 40px; height: 40px" src="icons/python.svg">
            </div>
            <h4>Python</h4>
          </div>
        </div>

        <div class="col mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <img style="width: 38px; height: 38px" src="icons/c.svg">
            </div>
            <h4>C</h4>
          </div>
        </div>

        <div class="col mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <i class="bx bxl-html5" style="color: #E44D26"></i>
            </div>
            <h4>HTML</h4>
          </div>
        </div>

        <div class="col mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <img src="icons/javascript.svg">
            </div>
            <h4>JavaScript</h4>
          </div>
        </div>

        <div class="col mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <i class="bx bxl-css3" style="color: #264DE4"></i>
            </div>
            <h4>CSS</h4>
          </div>
        </div>

        <div class="col mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <i class="bx bxl-github" style="color: #1A1D22"></i>
            </div>
            <h4>GitHub</h4>
          </div>
        </div>

        <div class="col mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <i class="bx bxl-windows" style="color: #00abef"></i>
            </div>
            <h4>Windows</h4>
          </div>
        </div>

        <div class="col mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <img style="width: 50px; height: 50px" src="icons/linux.svg">
            </div>
            <h4>Linux</h4>
          </div>
        </div>

      </div>
    </div>
  </section>
  {{end}}